// Base

:root {
  --measure: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

.max-width\:measure {
  max-width: var(--measure);
}

.max-width\:measure\/2 {
  max-width: calc(var(--measure) / 2);
}

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

// cover
.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(h1) {
  margin-top: 0;
}

.cover > :last-child:not(h1) {
  margin-bottom: 0;
}

.cover > h1 {
  margin-top: auto;
  margin-bottom: auto;
}

// STACK

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

//  GRID

grid-l {
  display: grid;
  grid-gap: var(--s1);
  align-content: start;
  grid-template-columns: 100%;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
  align-content: start;
}

.grid.aboveMin {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

@supports (width: min(20rem, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  }
}

// switcher
switcher-l {
  display: block;
}

switcher-l > * {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

switcher-l > * > * {
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}
