@import 'components/manifest';

@import 'spectre-overrides';
@import 'vendor/spectre/spectre';

@import 'base/manifest';

@import 'every-layout';

.bg-black {
  background: black;
  color: $light-color;
}

.fg-3 {
  flex-grow: 3;
}
