// Global styles

:root {
  --measure: 60ch;
  line-height: var(--ratio);
  font-size: calc(0.1vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}

* {
  box-sizing: border-box;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: var(--color-dark);
  border-width: 0;
}

[hidden] { display: none; }
[hidden] + * { margin-top: 0 !important; }

nav, main, header, footer {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

[tabindex='-1']:focus { outline: none }

.display\:inline-block { display: inline-block }
.text\:center { text-align: center }


.post {
  .post-excerpt {
    font-style: italic;
    em { font-style: normal; }
  }
  .post-date {
    font-size: var(--s-1);
  }
  .post-title {
    color: var(--color-darkish);
  }
}

blockquote {
  font-size: var(--s0);
  line-height: var(--s1);
  margin-left: 1rem;
  font-style: italic;
}

cluster-l ul {
  list-style: none;
}

#home-cover {
  background-color: $color-dark;
  color: $color-light;
}

h1, h2, h3, h4, h5, h6, .nav, .btn {
  font-weight: 500;
}

.nav, .btn {
  font-family: 'Lato';
}

.nav a {
  text-decoration: none;
  &:hover {
    color: lighten($color-primary, 30%);
    transition: all 0.1s;
  }
  &:active, &.active {
    color: #ffcccc;
  }
}

a {
  color: $color-primary;
}

.color-primary {
  color: $color-primary;
}

.text-uppercase {
  font-variant: small-caps;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
}

.btn {
  appearance: none;
  background: transparent;
  border: var(--border-thin) solid $color-primary;
  border-radius: var(--s-6);
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.05vw + 1em);
  height: var(--var4);
  line-height: var(--ratio);
  outline: none;
  padding: var(--s-3) var(--s0);
  text-align: center;
  text-decoration: none;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: var(--s-6);
  &:focus,
  &:hover {
    background: rgba($color-primary, 0.5);
    color: $color-primary;
    text-decoration: none;
  }
  &.btn-primary {
    background: $color-primary;
    border-color: $color-primary;
    color: white;
    &:focus, &:hover {
      background: darken($color-primary, 5%);
      border-color: darken($color-primary, 5%);
    }
  }
  // Button Clear
  &.btn-clear {
    background: transparent;
    border: 0;
    color: currentColor;

    &:focus,
    &:hover {
      opacity: .95;
    }

    &::before {
      content: "\2715";
    }
  }
}

main#page {
  background-color: #f2f2f2;
  #main-content {
    margin-top: calc(-1 * var(--s2));
    > box-l:first-child {
      min-height: var(--measure);
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  tr {
    vertical-align: baseline;
  }
  td {
    padding: var(--s-2);
    &:first-child {
      padding-left: 0;
    }
  }
}

footer, tfoot {
  color: var(--color-mid);
}

img {
  max-width: 100%;
}


form {
  .label {
    display: block;
    line-height: var(--line-height);
  }
}

input, textarea {
  appearance: none;
  background: #eee;
  background-image: none;
  border: var(--border-thin) solid transparent;
  border-radius: var(--border-radius);
  color: var(--color-dark);
  display: block;
  max-width: 100%;
  outline: none;
  padding: var(--s0) var(--s-1);
  position: relative;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  width: 100%;
  &:focus {
    border-color: $color-primary;
  }
  &::placeholder {
    color: var(--color-mid);
  }
}

// Form element: Textarea
textarea.form-input {
  &,
  &.input-lg,
  &.input-sm {
    height: auto;
  }
}

.align-middle {
  display: flex;
  align-items: center;
}

.control-width {
  max-width: var(--measure);
}

.bg\:dark {
  background-color: #866f7d;
  color: var(--color-light);
}
