---
layout: page
title: Ania Upstill - Photos
permalink: /photos
section: photos
header_image: '/assets/img/photos-header.png'
description: |
  TODO: SEO-friendly description
cta:
  text: Contact Ania
  url: /contact.html
---

<!-- <div class="modal modal-lg" id="modal-id">
  <a href="#close" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">
    <center-l centered="img">
      <div class="position:relative">
        <a href="#close" class="btn btn-clear color:white position:absolute right:0" aria-label="Close"></a>
        <img src="/assets/img/headshot1.png" alt="">
      </div>
    </center-l>
  </div>
</div> -->

<stack-l>
  <!-- <a href="#modal-id" class="btn">Open Modal</a> -->
  <grid-l>
    {% for photo in site.data.photos.headshots %}
      <img src="{{photo.img_path}}" alt="{{photo.description}}">
    {% endfor %}
  </grid-l>

  <grid-l>
    {% for photo in site.data.photos.rj %}
      <img src="{{photo.img_path}}" alt="{{photo.description}}">
    {% endfor %}
  </grid-l>

  <grid-l>
    {% for photo in site.data.photos.production %}
      <img src="{{photo.img_path}}" alt="{{photo.description}}">
    {% endfor %}
  </grid-l>
</stack-l>
