---
layout: default
---

<main id="page">
  <cover-l class="{{page.section}}" minHeight="33vh" centered="h1">
    {% include header.html %}
  </cover-l>
  <stack-l class="{{page.section}}-content">
    <center-l id="main-content">
      <box-l>
        <stack-l>
          {% if page.header %}
            <div class="text:center"><h1>{{ page.header }}</h1></div>
          {% endif %}
          {{ content }}
        </stack-l>
      </box-l>
    </center-l>
    <footer class="text:center">
      {% if page.cta %}
      <center-l>
        <a {% if page.cta.download %}download{% endif %} href="{{ page.cta.url }}" class="btn btn-primary">{{ page.cta.text }}</a>
      </center-l>
      {% endif %}
      <cover-l minHeight="var(--s2)" centered="small">
        <small>
          &#169; Copywright 2019 Ania Upstill
        </small>
      </cover-l>
    </footer>
    {% include newsletter-signup.html %}
  </stack-l>
</main>
