---
layout: default
---

<main id="page">
  <cover-l style="background-color: black;" minHeight="33vh">
    {% include header.html %}
  </cover-l>
  <stack-l>
    <center-l id="content">
      <box-l>
        <stack-l>
          {{ content }}
        </stack-l>
      </box-l>
    </center-l>
    <footer class="text:center">
      <center-l>
        <a href="{{ page.cta.url }}" class="btn btn-primary">{{ page.cta.text }}</a>
      </center-l>
      <cover-l minHeight="var(--s2)" centered="small">
        <small>
          &#169; 2019 Ania Upstill
        </small>
      </cover-l>
    </footer>
  </stack-l>
</main>
